@import 'css-wipe';

@import './vars';

@import './typography';
@import './section/index';
@import './heading/index';
@import './plot/index';
@import './footer/index';

body {
  margin: 0 auto;
  max-width: var(--layout-body-width);
  padding: 0 var(--layout-body-padding);
  background-color: var(--color-main);
}
