.section {
  margin-top: 3rem;
}

.section p,
.section a {
  text-align: justify;
  font-size: var(--font-size-subtitle);
}

.section a {
  text-decoration: none;
  border-bottom: 2px solid var(--color-light);
}
