/**
 * Footer
 */

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.footer-right > a:not(:last-child) {
  margin-right: 1.5rem;
}

.footer a {
  font-size: var(--font-size-body);
  text-decoration: none;
}
